/* * {
    box-sizing: border-box;
} */

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: rgb(224, 241, 252);
}


header {
    display: flex;
    flex-flow: column nowrap;

}

section {
    margin-bottom: 1.2rem;
}

.heading_promo {

    /* font-size: 2rem; */
    text-align: center;
    text-transform:uppercase;

    color:rgba(0, 0, 0, 1.0);

    background-color: white;

    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

/* .heading_promo::after {
    content: '\00AE';
    font-size: 40%;
} */


.heading-size-big {
    font-size: 2.5rem;
}

.heading-size-middle {
    font-size: 1.5rem;
}

.heading-size-normal {
    font-size: 1rem;
}


.heading_promo__name {
    text-transform: capitalize;

    color:orange;
}

.heading__subsign {
    font-size: 40%;
}

.heading_promo__detail {
    font-size: 1.5rem;

    text-align:center;
    text-transform:lowercase;

    background-color: orange;
    color: white
}


/*  Header Navigation Menu */
.nav_header__menu {
    display: flex;
    padding: 0.5rem 0;

    flex-flow: column wrap;
    justify-content: space-between;
    justify-content: center;
    /* justify-items: ; */
    align-items: stretch;

    text-align: center;

}

.nav_header__menu  li {

    list-style-type: none;

    /* border: 1px cyan solid; */
    border: 1px rgb(236, 207, 153) solid;

}

.nav_header__menu  li a {
    text-decoration-line: none;
    display: block;

    text-transform: uppercase;

    color:rgb(148, 99, 9);
    /* background-color: rgb(189, 227, 238); */
    background-color: rgb(241, 235, 216);
}

.nav_header__menu  li a:hover {
    background-color: rgb(243, 219, 141);
}


/*
    Product Description sections
*/

.product__heading {
    padding: 0.2rem 0.4rem;

    /* font-size: 2rem; */
    text-align: start;
    text-transform:uppercase;
    text-indent: 1rem;


    color:rgb(63, 61, 61);
    color: white;

    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */

    background-color: #fff;
    background-color: rgb(241, 235, 216);
    background-color: sandybrown;
}

section {

    /* border: 1px #E0F1FC solid; */
    border: 1px sandybrown solid;

    /* padding-bottom: 0.8rem; */
    background-color: #c0e1f7;
}

main section:hover {
    background-color: #b0dfff;
}

section h2 {
    margin-bottom: 1.2rem;;
}

section :nth-child(n+2) {
    padding: 0.2rem 0.4rem;

    /* text-indent: 1.5rem; */
}

section:last-child {
    padding-bottom: 0.8rem;
}

/* Pill's tabular description */

.pill_table {
    margin-left: auto;
    margin-right: auto;

    /* padding: 0.7rem 1rem; */

    width: 80%;
}

.table__caption {
    border-bottom: 2px orange solid;

    padding-top: 0.4rem;

    font-weight: bold;
    text-transform: uppercase;

    background-color: aliceblue;


}

.pill_table__content {
    padding-left: 1rem;;
    padding-right: 1rem;

    background-color: #fff;
}

tbody.pill_table__content td {
    /* text-indent: 1.4rem; */
    padding-left: 1.4rem;
}

tbody.pill_table__content tr:hover {
    background-color:rgb(204, 241, 229);
}

footer {
    margin-top: 1.4rem;;

    padding: 0.9rem 1rem;

    background-color: #badaf0;
}

footer section {
    margin: 0 auto;

    color: grey;
    color: #867676;

}

address {
    margin-left: 1rem;

}

li {
    list-style: none;
}

.product__list li::before {
    /* width: 1rem; */
    margin-right: 0.5rem;

    content: "\2022";

    color: orange;
    /* color: red; */
}


/* Responsive Web Design and Media Queries*/
@media screen and (min-width: 700px) {

    /* .container {
        width: 80%;

        margin: 0 auto;
    } */

    nav {
        margin-bottom: 1.5rem;

        background-color: bisque;


    }

    .nav_header__menu {
        display: flex;

        flex-flow: row;
        justify-content: space-evenly;
    }

    .nav_header__menu li a {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

}


@media screen and (min-width: 900px) {
/* @media screen and (min-width: 1024px) { */

    .container {
        width: 80%;

        margin: 0 auto;
    }


    main {
        display: flex;

        flex-flow: row wrap;
        justify-content: space-evenly;

        /* align-items: flex-start; */
    }

    /* main :last-child {
        align-self: flex-start;
        justify-self: self-start;
    } */

    section {
        /* min-width: 33%;
        min-width: 40%;

        max-width: 44%; */
        width: 45%;
    }
}